@media screen and (max-width: 750px) {

    header{
    }

    header h1{
        text-align: center;
        margin-left: 0px;
        float: none;
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    header ul{
        display: none;
    }

    .home{
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
        align-items: center;
        justify-content: center;
    }

    .home .welcome{
        width: 100%;
    }

    .welcome h1{
        margin-top: 80px;
    }

    .welcome h1,
    .welcome h2{
        text-align: center;
        margin-left: 0;
    }

    .welcome h2{
        margin-bottom: 20px;
    }

    .home .img{
        width: 100%;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about{
        padding-left: 30px;
        padding-right: 30px;
    }

    .about .me{
        flex-direction: column;
    }

    .me .desc,
    .me .img{
        width: 100%;
    }

    .me .desc{
        margin-top: 20px;
    }

    .desc h3{
        font-size: 20px;
    }

    .bio{
        flex-direction: column;
    }

    .bio .kanan,
    .bio .kiri{
        width: 100%;
    }

    .bio h3{
        margin-top: 5px;
        font-size: 20px;
    }

    .education{
        padding-left: 30px;
        padding-right: 30px;
    }

    .portfolio{
        padding-left: 30px;
        /* padding-right: 30px; */
        margin-left: 0px;
    }

    .portfolio .ports{
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;
    }

    .ports .port{
        width: 100%;
        margin-bottom: 30px;
        background-color: #191919;
        padding: 15px;
        display: flex;
        /* flex-wrap: wrap; */
        align-items: center;
        justify-content: space-between;
    }
    
    .buttons{
        width: 100%;
        margin-top: 10px;
        text-align: right;
        margin-bottom: 10px;
    }

    .contact{
    padding-left: 30px;
    padding-right: 30px;
    }

    .sosmed{
        flex-wrap: wrap;
    }

    .sosmed a{
        width: 20%;
    }

    body{
        overflow-x: hidden;
    }

    .riwayat h3{
        font-size: 20px;
    }
    
}